In [1]:
import pandas as pd
import numpy as np

In [2]:
#loaded partial train dataset (about 40,000 users)
df = pd.read_csv('train_partial.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000152 entries, 0 to 10000151
Data columns (total 11 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unnamed: 0                      int64
 1   row_id                          int64
 2   timestamp                       int64
 3   user_id                         int64
 4   content_id                      int64
 5   content_type_id                 int64
 6   task_container_id               int64
 7   user_answer                     int64
 8   answered_correctly              int64
 9   prior_question_elapsed_time     float64
 10  prior_question_had_explanation  object
dtypes: float64(1), int64(9), object(1)
memory usage: 839.2+ MB

In [4]:
df.head(5)

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,4,137965,115,7922,0,4,1,1,11000.0,False

In [5]:
df.user_id.nunique()

39491

In [7]:
df.isnull().sum()

Unnamed: 0                             0
row_id                                 0
timestamp                              0
user_id                                0
content_id                             0
content_type_id                        0
task_container_id                      0
user_answer                            0
answered_correctly                     0
prior_question_elapsed_time       234786
prior_question_had_explanation     39388
dtype: int64

In [8]:
lectures = pd.read_csv('lectures.csv')

In [9]:
lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [10]:
questions = pd.read_csv('questions.csv')
questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38